*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.input-sample-count, .interval-option{
    width: 15%;
}

.table-wrapper, .chart-wrapper, .info-wrapper, .histogram-wrapper, .memory-btn-container #memoryBtn{
    display: none;
}

.display{
    display: block !important;
}

.links svg{
    font-size: 2rem;
}

@media only screen and (max-width: 1024px) {
    .input-sample-count, .interval-option{
        width: 30%;
    }
}

@media only screen and (max-width: 768px) {
    .input-sample-count, .interval-option{
        width: 50%;
    }

    .container{
        max-width: 100%;
    }

    .button-controls{
        flex-wrap: wrap;
    }

    .table-wrapper{
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    table{   
        width: 100%;
        min-width: 400px;
    }
    
}

@media only screen and (max-width: 425px) {
    .input-sample-count, .interval-option{
        width: 100%;
    }

    .text-wrapper p,
    .text-wrapper strong{
        font-size: .85rem;
        margin-bottom: .8rem;
    }

    .histogram-legend span{
        font-size: .85rem;
    }

    table th, table td{
        font-size: .8rem;
    }

    .sample {
        width: 60px !important;
        max-width: 60px !important;
        font-size: .8rem;
    }

}